<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @contact.company_name %>
</p>

<p>
  <strong>Your name:</strong>
  <%= @contact.your_name %>
</p>

<p>
  <strong>Your mail address:</strong>
  <%= @contact.your_mail_address %>
</p>

<p>
  <strong>Company information:</strong>
  <%= @contact.company_information %>
</p>

<p>
  <strong>Company hp url:</strong>
  <%= @contact.company_hp_url %>
</p>

<p>
  <strong>Lightning talk:</strong>
  <%= @contact.lightning_talk %>
</p>

<p>
  <strong>Pamphlet:</strong>
  <%= @contact.pamphlet %>
</p>

<p>
  <strong>Sponsorship:</strong>
  <%= @contact.sponsorship %>
</p>

<p>
  <strong>Invoice name:</strong>
  <%= @contact.invoice_name %>
</p>

<p>
  <strong>Invoice item:</strong>
  <%= @contact.invoice_item %>
</p>

<p>
  <strong>Invoice item other:</strong>
  <%= @contact.invoice_item_other %>
</p>

<p>
  <strong>Invoice sending:</strong>
  <%= @contact.invoice_sending %>
</p>

<p>
  <strong>Envelope postal code:</strong>
  <%= @contact.envelope_postal_code %>
</p>

<p>
  <strong>Envelope address:</strong>
  <%= @contact.envelope_address %>
</p>

<p>
  <strong>Envelope department:</strong>
  <%= @contact.envelope_department %>
</p>

<p>
  <strong>Envelope name:</strong>
  <%= @contact.envelope_name %>
</p>

<p>
  <strong>Envelope mail address:</strong>
  <%= @contact.envelope_mail_address %>
</p>

<p>
  <strong>Etc:</strong>
  <%= @contact.etc %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
